.banner {
  background-attachment: fixed;
  background-image: url("/images/mustang_desaturated.jpg");
  background-position: center top;
  background-size: cover;
  height: calc(100vh - 116px);
  margin: -16px -8px;
  width: calc(100% + 16px); }
  .banner h1 {
    color: #fff;
    font-family: Quicksand, sans-serif;
    font-size: 3em;
    margin: 0 auto;
    position: relative;
    text-align: right;
    text-shadow: 2px 2px 2px #000;
    top: 75%;
    width: 1080px; }
