.banner {
  background-image: url('/images/mustang_desaturated.jpg');
  background-position: center 85%;
  background-size: cover;
  height: calc(100vh - 116px);
  width: 100%;

  h1 {
    color: #fff;
    font-family: Quicksand, sans-serif;
    font-size: 2em;
    margin: 0 auto;
    position: relative;
    text-align: right;
    text-shadow: 2px 2px 2px #000;
    top: 75%;
    width: 85%;

    @media (min-width: 768px) {
      font-size: 3em;
    }

    @media (min-width: 1080px) {
      width: 1080px;
    }
  }
}

.snapchat {
  .container {
    display: flex;
    flex-flow: column nowrap;

    .caption {
      flex: 1;

      h1 {
        font-size: 2em;
      }

      p {
        font-size: 1.25em;
      }
    }

    @media (min-width: 1080px) {
      flex-direction: row;
      justify-content: space-between;

      .caption {
        padding-right: 16px;
      }
    }
  }

  .snap-id {
    display: inline-block;
    text-align: center;
  }
}
