@import '../../variables';

.photography {
  .banner {
    background-image: url('/images/photography.jpg');
    background-position: 75% 100%;
    background-size: cover;
    height: calc(100vh - 116px);
    width: 100%;
  }

  section {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    min-height: 750px;
    
    .container {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 0 0px;
      
      iframe {
        background-color: rgba(#fff, 0.08);
        border: none;
        box-shadow: $whiteframe-shadow-2dp;
        flex: 1 0 0px;
        padding: 16px;
      }
    }
  }
}